body{
    background-color: black;
    color: blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1, h2, h3{
    text-align: center;
}
h1{
    font-size: 3em;
}
h2{
    font-size: 2em;
}
h3{
    font-size: small;
}
#tablero{
    margin: auto;
    width: 750px;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
}
#tablero>button{
    width: 250px;
    height: 250px;
    max-width: 33.33%;
    font-size: 10em;
}
#texto_victoria{
    visibility: hidden;
    color: chartreuse;
}